* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}


body {
  padding: 0;
  background:#121212;
}
/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  width: 940px;
  margin:0 auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.main {
  opacity:0.0382642998027613;
  background:url('./resources/img/bg.jpg')no-repeat center top;
  padding-top: 169px;
  padding-bottom: 0;
  .span4 {
    text-align: center;
    h1 {
      font-size: 120px;
      margin: 0;
      padding: 10px;
      display: inline-block;
    }
    h3 {
      font-weight: 100;
      font-size: 50px;
      margin: 0;
      padding: 10px;
      display: inline-block;
    }
  }
}


.border-bot {
  border-bottom:solid 3px $secondary;
}
.border-top {
  border-top: solid 3px $secondary;
}
hr {
  border-color:$secondary;
}



.map {
                width: 100%;
                height: 500px;
  border-bottom:4px solid $secondary;
      }

      .map2 {
  border-bottom: 0;
}

.map2 {
  height:291px;
}

.gmnoprint {
  display: none;
}

.map a {
  display: none !important;
}

.tab-pane.active {
  display: inline;
}

.bringing {
  padding: 4em 0 0;
  text-align: center;
  h1 {
    display: inline;
    font-size: 70px;
    color:white;
  }
  h4 {
    font-size: 35px;
    font-weight: 100;
    margin: 0 0 20px 0;;
  }
}

#demo {
  border-bottom:solid 2px $secondary;
}

.nav-tabs {
  border-bottom: 0;
  width:100%;
  li{
    @include rowGrid(7,1%);
    text-align: center;
    &:active, &:hover {
      a {
        background-color:transparent!important;
        border:solid 1px $secondary;
        color:$secondary;
      }
    }
    a {
      border-radius:0;
      color:white;
      padding:1em 1em;
      font-family: $body;
      font-weight: 100;
    }
  }
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  color:$secondary;
  background-color:transparent;
  border:solid 1px $secondary;
}

#locations {
  @include transition(background-image .3s);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  padding-bottom: 35em;
  background-image:url('./resources/img/dsm.jpg');
  position: relative;
  .wrap {
    position: relative;
    z-index:1001;
  }
}


.gradient {
  width:100%;
  height:375px;
  margin-bottom: -6em;
  position: absolute;
  top:0;
  z-index:1000;
  background: -moz-linear-gradient(top,  rgba(18,18,18,1) 0%, rgba(18,18,18,1) 16%, rgba(18,18,18,0.01) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,18,18,1)), color-stop(16%,rgba(18,18,18,1)), color-stop(100%,rgba(18,18,18,0.01))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(18,18,18,1) 0%,rgba(18,18,18,1) 16%,rgba(18,18,18,0.01) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(18,18,18,1) 0%,rgba(18,18,18,1) 16%,rgba(18,18,18,0.01) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(18,18,18,1) 0%,rgba(18,18,18,1) 16%,rgba(18,18,18,0.01) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(18,18,18,1) 0%,rgba(18,18,18,1) 16%,rgba(18,18,18,0.01) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#03121212',GradientType=0 ); /* IE6-9 */

}

.gradient-up {
  width:100%;
  height:375px;
  position: absolute;
  z-index:1000;
  background: -moz-linear-gradient(top,  rgba(18,18,18,0.01) 0%, rgba(18,18,18,1) 76%, rgba(18,18,18,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,18,18,0.01)), color-stop(76%,rgba(18,18,18,1)), color-stop(100%,rgba(18,18,18,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(18,18,18,0.01) 0%,rgba(18,18,18,1) 76%,rgba(18,18,18,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(18,18,18,0.01) 0%,rgba(18,18,18,1) 76%,rgba(18,18,18,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(18,18,18,0.01) 0%,rgba(18,18,18,1) 76%,rgba(18,18,18,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(18,18,18,0.01) 0%,rgba(18,18,18,1) 76%,rgba(18,18,18,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03121212', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
position: absolute;
bottom: 0;

}


.locationContent {
  position: relative;
  padding-top: 0;
  .content {
    padding: 3em 0 5em;
    position: relative;
    z-index: 10;
    img {
      width:100%;
    }
  }
}

.photos {
  padding: 0;
  .span6 {
    height:291px;
  }
  #map2 {
    height:291px;
  }
}



.ri-grid{
  position: relative;
  height: auto;
}

.ri-grid ul {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
  content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -o-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px; 
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  background: #000;
}

.ri-grid ul li a{
  display: block;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
  width: 55%;
}
.ri-grid-size-2{
  width: 100%;
}
.ri-grid-size-3{
  width: 100%;
  margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.ri-shadow:after{
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
  display: none;
}

.ri-loading-image{
  display: none;
}

.ri-grid-loading .ri-loading-image{
  position: relative;
  width: 30px;
  height: 30px;
  left: 50%;
  margin: 100px 0 0 -15px;
  display: block;
}

.col6 {
  @include rowGrid(2,0);
  float: left;
}

.media {
  position: absolute;
  top:0;
  z-index: 1;
  width:100%;
  @include opacity(.3);
}

.photos {
 z-index: 11;
 position: relative;
}

video {
  width:100%;
}

.inner-content {
  padding:4em 0;
  h1 {
    font-size: 60px;
    margin-top: 0;
    padding-top: 0;
    line-height: 1;
  }
  .left{
    float:left;
    margin-right: 2em;
    img {
      width: 250px !important;
    }
  }
  .right{
    float: left;
  }
}

.statsTwo {
  text-align: center;
  h1 {
      margin: 0;
      padding: 10px;
      display: inline-block;
    }
    h3 {
      margin: 0;
      padding: 10px;
      display: inline-block;
    }
}