// COLOR PALETTE
$primary: #fdfdfd;
$secondary: #f89d25;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;

// FONT STACKS
$heading:'Roboto Slab', serif;
$body:'Roboto', sans-serif;