/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 100%/1.5 "Roboto", sans-serif;
  color: #011f40;
}

/* HEADINGS */
/* line 8, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", serif;
  color: #fdfdfd;
}

/* line 13, ../sass/_typography.scss */
h1 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  color: white;
}

/* PARAGRAPH */
/* line 25, ../sass/_typography.scss */
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #fdfdfd;
}

/* line 33, ../sass/_typography.scss */
a {
  color: #f89d25;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 34, ../sass/_typography.scss */
a:visited {
  color: #f89d25;
}
/* line 40, ../sass/_typography.scss */
a:hover {
  color: #505050;
  text-decoration: none;
}

/* LISTS */
/* line 47, ../sass/_typography.scss */
ul {
  padding: 0;
  list-style: none;
}

/* line 1, ../sass/_navigation.scss */
.mainnav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 3, ../sass/_navigation.scss */
.mainnav ul {
  float: right;
}
/* line 5, ../sass/_navigation.scss */
.mainnav ul li {
  float: left;
}
/* line 7, ../sass/_navigation.scss */
.mainnav ul li a {
  padding: 1em;
}

/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 8, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 12, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 16, ../sass/_animations.scss */
.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 20, ../sass/_animations.scss */
.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 28, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 32, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes roll-in-left {
  /* line 53, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 54, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-o-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-moz-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-o-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

/* SENCHA ANIMATIONS */
/* Contact Form */
/* line 2, ../sass/_forms.scss */
.main-form {
  position: relative;
}

/* line 7, ../sass/_forms.scss */
.main-form:before,
.main-form:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/_forms.scss */
.main-form:after {
  clear: both;
}

/* line 15, ../sass/_forms.scss */
.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  color: #fdfdfd;
}

/* line 27, ../sass/_forms.scss */
.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #fdfdfd;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 39, ../sass/_forms.scss */
.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
}

/* line 46, ../sass/_forms.scss */
.main-form textarea {
  min-height: 200px;
}

/* line 53, ../sass/_forms.scss */
.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #fdfdfd;
}

/* line 58, ../sass/_forms.scss */
.main-form select:focus {
  outline: none;
}

/* line 62, ../sass/_forms.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 67, ../sass/_forms.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 72, ../sass/_forms.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 77, ../sass/_forms.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 82, ../sass/_forms.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 88, ../sass/_forms.scss */
.main-form input.cbp-mc-submit {
  background: #fdfdfd;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
}

/* line 103, ../sass/_forms.scss */
.main-form input.cbp-mc-submit:hover {
  background: #f89d25;
}

/* line 107, ../sass/_forms.scss */
#nospam, .nospam {
  display: none;
}

/* line 111, ../sass/_forms.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 115, ../sass/_forms.scss */
.thumbs img {
  width: 100%;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 20, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* line 26, ../sass/_smallest.scss */
body {
  padding: 0;
  background: #121212;
}

/* MAIN */
/* line 32, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 37, ../sass/_smallest.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}
/* line 40, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 45, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* FOOTER */
/* BUTTON */
/* line 63, ../sass/_smallest.scss */
.main {
  opacity: 0.0382642998027613;
  background: url("./resources/img/bg.jpg") no-repeat center top;
  padding-top: 169px;
  padding-bottom: 0;
}
/* line 68, ../sass/_smallest.scss */
.main .span4 {
  text-align: center;
}
/* line 70, ../sass/_smallest.scss */
.main .span4 h1 {
  font-size: 120px;
  margin: 0;
  padding: 10px;
  display: inline-block;
}
/* line 76, ../sass/_smallest.scss */
.main .span4 h3 {
  font-weight: 100;
  font-size: 50px;
  margin: 0;
  padding: 10px;
  display: inline-block;
}

/* line 87, ../sass/_smallest.scss */
.border-bot {
  border-bottom: solid 3px #f89d25;
}

/* line 90, ../sass/_smallest.scss */
.border-top {
  border-top: solid 3px #f89d25;
}

/* line 93, ../sass/_smallest.scss */
hr {
  border-color: #f89d25;
}

/* line 99, ../sass/_smallest.scss */
.map {
  width: 100%;
  height: 500px;
  border-bottom: 4px solid #f89d25;
}

/* line 105, ../sass/_smallest.scss */
.map2 {
  border-bottom: 0;
}

/* line 109, ../sass/_smallest.scss */
.map2 {
  height: 291px;
}

/* line 113, ../sass/_smallest.scss */
.gmnoprint {
  display: none;
}

/* line 117, ../sass/_smallest.scss */
.map a {
  display: none !important;
}

/* line 121, ../sass/_smallest.scss */
.tab-pane.active {
  display: inline;
}

/* line 125, ../sass/_smallest.scss */
.bringing {
  padding: 4em 0 0;
  text-align: center;
}
/* line 128, ../sass/_smallest.scss */
.bringing h1 {
  display: inline;
  font-size: 70px;
  color: white;
}
/* line 133, ../sass/_smallest.scss */
.bringing h4 {
  font-size: 35px;
  font-weight: 100;
  margin: 0 0 20px 0;
}

/* line 140, ../sass/_smallest.scss */
#demo {
  border-bottom: solid 2px #f89d25;
}

/* line 144, ../sass/_smallest.scss */
.nav-tabs {
  border-bottom: 0;
  width: 100%;
}
/* line 147, ../sass/_smallest.scss */
.nav-tabs li {
  width: 13.42857%;
  text-align: center;
}
/* line 326, ../sass/_mixins.scss */
.nav-tabs li:nth-child(n) {
  margin-bottom: 1%;
  margin-right: 1%;
}
/* line 330, ../sass/_mixins.scss */
.nav-tabs li:nth-child(7n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 151, ../sass/_smallest.scss */
.nav-tabs li:active a, .nav-tabs li:hover a {
  background-color: transparent !important;
  border: solid 1px #f89d25;
  color: #f89d25;
}
/* line 157, ../sass/_smallest.scss */
.nav-tabs li a {
  border-radius: 0;
  color: white;
  padding: 1em 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

/* line 167, ../sass/_smallest.scss */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  color: #f89d25;
  background-color: transparent;
  border: solid 1px #f89d25;
}

/* line 173, ../sass/_smallest.scss */
#locations {
  -webkit-transition: background-image 0.3s;
  -moz-transition: background-image 0.3s;
  -ms-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 35em;
  background-image: url("./resources/img/dsm.jpg");
  position: relative;
}
/* line 181, ../sass/_smallest.scss */
#locations .wrap {
  position: relative;
  z-index: 1001;
}

/* line 188, ../sass/_smallest.scss */
.gradient {
  width: 100%;
  height: 375px;
  margin-bottom: -6em;
  position: absolute;
  top: 0;
  z-index: 1000;
  background: -moz-linear-gradient(top, #121212 0%, #121212 16%, rgba(18, 18, 18, 0.01) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #121212), color-stop(16%, #121212), color-stop(100%, rgba(18, 18, 18, 0.01)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #121212 0%, #121212 16%, rgba(18, 18, 18, 0.01) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #121212 0%, #121212 16%, rgba(18, 18, 18, 0.01) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #121212 0%, #121212 16%, rgba(18, 18, 18, 0.01) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #121212 0%, #121212 16%, rgba(18, 18, 18, 0.01) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#121212', endColorstr='#03121212',GradientType=0 );
  /* IE6-9 */
}

/* line 205, ../sass/_smallest.scss */
.gradient-up {
  width: 100%;
  height: 375px;
  position: absolute;
  z-index: 1000;
  background: -moz-linear-gradient(top, rgba(18, 18, 18, 0.01) 0%, #121212 76%, #121212 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(18, 18, 18, 0.01)), color-stop(76%, #121212), color-stop(100%, #121212));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(18, 18, 18, 0.01) 0%, #121212 76%, #121212 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(18, 18, 18, 0.01) 0%, #121212 76%, #121212 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(18, 18, 18, 0.01) 0%, #121212 76%, #121212 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0.01) 0%, #121212 76%, #121212 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03121212', endColorstr='#121212',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  bottom: 0;
}

/* line 223, ../sass/_smallest.scss */
.locationContent {
  position: relative;
  padding-top: 0;
}
/* line 226, ../sass/_smallest.scss */
.locationContent .content {
  padding: 3em 0 5em;
  position: relative;
  z-index: 10;
}
/* line 230, ../sass/_smallest.scss */
.locationContent .content img {
  width: 100%;
}

/* line 236, ../sass/_smallest.scss */
.photos {
  padding: 0;
}
/* line 238, ../sass/_smallest.scss */
.photos .span6 {
  height: 291px;
}
/* line 241, ../sass/_smallest.scss */
.photos #map2 {
  height: 291px;
}

/* line 248, ../sass/_smallest.scss */
.ri-grid {
  position: relative;
  height: auto;
}

/* line 253, ../sass/_smallest.scss */
.ri-grid ul {
  list-style: none;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 264, ../sass/_smallest.scss */
.ri-grid ul:before,
.ri-grid ul:after {
  content: '';
  display: table;
}

/* line 269, ../sass/_smallest.scss */
.ri-grid ul:after {
  clear: both;
}

/* line 273, ../sass/_smallest.scss */
.ri-grid ul {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 277, ../sass/_smallest.scss */
.ri-grid ul li {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -o-perspective: 400px;
  -ms-perspective: 400px;
  perspective: 400px;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  background: #000;
}

/* line 292, ../sass/_smallest.scss */
.ri-grid ul li a {
  display: block;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Grid wrapper sizes */
/* line 322, ../sass/_smallest.scss */
.ri-grid-size-1 {
  width: 55%;
}

/* line 325, ../sass/_smallest.scss */
.ri-grid-size-2 {
  width: 100%;
}

/* line 328, ../sass/_smallest.scss */
.ri-grid-size-3 {
  width: 100%;
  margin-top: 0px;
}

/* Shadow style */
/* line 335, ../sass/_smallest.scss */
.ri-shadow:after,
.ri-shadow:before {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 352, ../sass/_smallest.scss */
.ri-shadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* line 363, ../sass/_smallest.scss */
.ri-grid-loading:after,
.ri-grid-loading:before {
  display: none;
}

/* line 367, ../sass/_smallest.scss */
.ri-loading-image {
  display: none;
}

/* line 371, ../sass/_smallest.scss */
.ri-grid-loading .ri-loading-image {
  position: relative;
  width: 30px;
  height: 30px;
  left: 50%;
  margin: 100px 0 0 -15px;
  display: block;
}

/* line 380, ../sass/_smallest.scss */
.col6 {
  width: 50%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.col6:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col6:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 385, ../sass/_smallest.scss */
.media {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.3;
  filter: alpha(opacity=0.3);
}

/* line 393, ../sass/_smallest.scss */
.photos {
  z-index: 11;
  position: relative;
}

/* line 398, ../sass/_smallest.scss */
video {
  width: 100%;
}

/* line 402, ../sass/_smallest.scss */
.inner-content {
  padding: 4em 0;
}
/* line 404, ../sass/_smallest.scss */
.inner-content h1 {
  font-size: 75px;
  margin-top: 0;
  padding-top: 0;
  line-height: 1;
}
/* line 410, ../sass/_smallest.scss */
.inner-content .left {
  float: left;
  margin-right: 2em;
}
/* line 413, ../sass/_smallest.scss */
.inner-content .left img {
  width: 250px !important;
}
/* line 417, ../sass/_smallest.scss */
.inner-content .right {
  float: left;
}

/* line 422, ../sass/_smallest.scss */
.statsTwo {
  text-align: center;
}
/* line 424, ../sass/_smallest.scss */
.statsTwo h1 {
  margin: 0;
  padding: 10px;
  display: inline-block;
}
/* line 429, ../sass/_smallest.scss */
.statsTwo h3 {
  margin: 0;
  padding: 10px;
  display: inline-block;
}

@media (min-width: 480px) {
  /* line 1, ../sass/_480.scss */
  section {
    padding: 2em 0;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  section {
    padding: 2em 0;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
